<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://static.thenounproject.com/png/100531-200.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Cocktails & Dreams
  </a>
</nav>

<h2>Add a dose to <%= @cocktail.name %></h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit, class: "btn btn-light" %>
    <%= link_to("Back", @cocktail) %>
  <% end %>
